version: '3.6'

services:
  bot:
    build: .
    command: bundle exec foreman start app
    depends_on:
    - redis
    environment:
      REDIS_URL: redis://redis:6379/0
      DATABASE_URL: "postgresql://icsbot:$POSTGRES_PASSWORD@postgres/icsbot"

  redis:
    image: redis

  postgres:
    image: postgres
    environment:
      POSTGRES_USER: ics
      POSTGRES_DB: ics
    env_file: .env
    volumes:
      - pgdata:/var/lib/postgresql/data:rw

volumes:
  pgdata:
